name: android_ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - name: Run Lint
        run: ./gradlew lint || echo "Hinweis - Lintwarnung gefunden"


  unit-tests:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - name: Run Unit Tests (all)
        run: ./gradlew test || echo "Hinweis - Unittest(s) fehlgeschlagen"

      - name: Run Mapper Unit Test
        run: ./gradlew testDebugUnitTest --tests com.example.lumaka.data.mapper.TaskMapperTest || echo "Hinweis - TaskMapperTest fehlgeschlagen"


  android-tests:
    runs-on: ubuntu-latest
    needs: unit-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - name: Assemble test APKs
        run: ./gradlew assembleDebug assembleAndroidTest

      - name: Run Bin
